/*--------CUSTOM CSS----------*/
/*-------By Sage & Seb--------*/

.placeholder {
/*  max-height: 240;
  max-width: 320;
  margin: 20px 20px 10px 0
  color: white;
  background-color: black;
  display: block;
  padding: 10px;
  border: 2px;
  border: solid red;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;*/

  max-width: 100%;
  height: auto;
}

.resting {
  background-color: white;
}

.correct {
  background-color: #6EE05D;
}

.wrong {
  background-color: #E05D63;
}

.nextQuestionVisible {
  visibility: visible;
}

.nextQuestionHidden {
  visibility: hidden;
}

.answer-btn {
  padding: 2em;
  background-color: rgb(50,100,200);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.answer-btn:hover {
  background-color: rgb(100,150,250);
}

.quizBody {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-align: center;
  max-width: 480px;
}

.answer-btn.correct {
  background-color: green;
}

.answer-btn.wrong {
  background-color: red;
}