/*--------CUSTOM CSS----------*/
/*-------By Sage & Seb--------*/

.placeholder {
/*  max-height: 240;
  max-width: 320;
  margin: 20px 20px 10px 0
  color: white;
  background-color: black;
  display: block;
  padding: 10px;
  border: 2px;
  border: solid red;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;*/

  max-width: 100%;
  height: auto;
}

.resting {
  background-color: white;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.nextQuestionVisible {
  visibility: visible;
}

.nextQuestionHidden {
  visibility: hidden;
}

