/*--------CUSTOM CSS----------*/
/*-------By Sage & Seb--------*/

.placeholder {
  max-width: 100%;
  height: auto;
}

#options {
  font-size: 1.25em;
}

.resting {
  background-color: #E0E0E0;
}

.correct {
  background-color: #6EE05D;
}

.wrong {
  background-color: #E05D63;
}

.nextQuestionVisible {
  visibility: visible;
  font-size: 2em;
  font-weight: bold;
  /*background-color: yellow;*/
  border-radius:0.5em;
  display: block;
}

.nextQuestionVisible:hover {
  color:white;
}

.nextQuestionHidden {
  visibility: hidden;
}

.answer-btn {
  padding: 1em;
  margin: 0.25em -0.75em;
  background-color: rgb(75,125,225);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border-radius: 0.5em;
  border-style:solid;
  border-color: rgb(25,75,175);
  color: white;
  font-weight: bold;


  /* TEST GRADIENT*/
  background: #b2e1ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
  background: linear-gradient(135deg,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.answer-btn:hover {
  background-color: rgb(100,150,250);
}

.quizBody {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-align: center;
  max-width: 480px;
}

.answer-btn.correct {
  background-color: green;
  border-color: green;
}

.answer-btn.wrong {
  background-color: red;
  border-color: red;
}

.image-border-idle {
  border: 4px;
  border-style: solid;
  border-color: #000000;
}

.image-border-correct {
  border: 4px;
  border-style: solid;
  border-color: #00FF00;
}

.image-border-wrong {
  border: 4px;
  border-style: solid;
  border-color: #FF0000;
}

.header {
  background-color: #000000;
  opacity: 0.5;
  height: 5.5em;
}

.header-pad {
  padding: 0.6em 0em 0em 0em;
}

.header-text {
  opacity: 1;
  color: white;
}

.footer {
  /*display: block;*/
/*  height: 9em;*/
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}
