/*--------CUSTOM CSS----------*/
/*-------By Sage & Seb--------*/

.intro {
  height: auto;
  background-color: #707070;
}

.main-menu-header {
  padding-top: 2em;
  background-color: #707070;
  text-align: center;
}
.main-menu {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  animation: fadein 2s;
}
.quizBody {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-align: center;
  height: 100%;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.placeholder {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}

#options {
  font-size: 1.25em;
  max-width: 480px;
  margin: 0 auto;
}

#load-text {
  color: white;
}

#startQuiz {
  margin-top: 2em;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 2em 0 3em 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#startQuiz:hover {
  background-color: rgba(0,0,0,0.3);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.answerRow {
  padding: 1em;
}

.quizStatus {
  font-weight: bold;
  margin: 0em;
}

.quizScore {
  margin: 0em;
}

.resting {
  background-color: #E0E0E0;
}

.correct {
  background-color: #6EE05D;
}

.wrong {
  background-color: #E82E40;
}

.align-left {
  margin-left: 0em;
}

.nextQuestionVisible {
  visibility: visible;
  font-size: 2em;
  font-weight: bold;
  /*background-color: yellow;*/
  border-radius:0.5em;
  display: block;
  color: white;
 /* min-height: 2em;*/
  padding-bottom: 0.15em;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
}

.nextQuestionVisible:hover {
  color:white;
}

.nextQuestionHidden {
  visibility: hidden;
  height: 0em;
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
}

.cmn-t-underline {
  position: relative;
  color: white;
  display: inline-block;
  width: 7.5em;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 5px;
  background-color: white;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: white;
}
.cmn-t-underline:hover:after {
  width: 100%;
}

.answer-btn {
  padding: 0.5em;
  margin: 0.25em -0.75em;
  background-color: rgba(0,0,0,0.3);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border-radius: 0.5em;
  border-style:solid;
  border-color: rgba(0,0,0,0);
  color: white;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.answer-btn:hover {
  background-color: rgb(100,150,250);
}

.answer-btn.correct {
  background-color: green;
}

.answer-btn.wrong {
  background-color: rgba(0,0,0,0.3);
}

.answer-btn.selected {
  border-color: rgba(255,255,255,0.9);
}

.image-border-idle {
  border: 4px;
  border-style: solid;
  border-color: rgba(0,0,0,0.75);
}

.image-border-correct {
  border: 4px;
  border-style: solid;
  border-color: #00AA00;
}

.image-border-wrong {
  border: 4px;
  border-style: solid;
  border-color: #AA0000;
}

.middle-text {
  margin: 0.8em 0em;
}

.header {
  background-color: rgba(0,0,0,0.5);
  height: 4.3em;
  color: white;
}

.header-pad {
  padding: 0.5em 0em 0em 0em;
}

.footer {
  padding: 0.25em 0em 2em 0em;
}

.restart-btn {
  
}

.catlogo{
  margin: 0.7em;
}


.loader {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 0em auto;
}

.loader-left, .loader-right {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #707070;
  position: absolute;
  top: -8.5em;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.loader-left {
  left: -2.8em;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loader-right {
  right: -3em;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.9) }
  50% { -webkit-transform: scale(1.25) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  } 50% { 
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0.25em;
  color: white;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}

p {
  font-style: italic;
  color: white;
  margin-top: -1em;
}
@media screen and (min-width: 480px) {
    .shrunk {
        display: none !important;
    }
}
@media screen and (max-width: 480px) {
    .full {
        display: none !important;
    }
}