/*--------CUSTOM CSS----------*/
/*-------By Sage & Seb--------*/

.quizBody {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-align: center;
  height: 100%;
}

.container-fluid {
  height: 100%;
  padding: 0;
}

.placeholder {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}

#options {
  font-size: 1.25em;
  max-width: 480px;
  margin: 0 auto;
}

.answerRow {
  padding: 1em;
}

.question {
  margin: 0.25em;
}

.resting {
  background-color: #E0E0E0;
}

.correct {
  background-color: #6EE05D;
}

.wrong {
  background-color: #E82E40;
}

.nextQuestionVisible {
  visibility: visible;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  border-radius:0.5em;
  display: block;
  color: white;
  height: 2em;
  padding: 0em;
  background-color: rgba(0,0,0,0.7);
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.nextQuestionVisible:hover {
  color:white;
}

.nextQuestionHidden {
  visibility: hidden;
  height: 0em;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;

}

/*test underline*/
.cmn-t-underline {
  position: relative;
  color: white;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: white;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: white;
}
.cmn-t-underline:hover:after {
  width: 100%;
}


.answer-btn {
  padding: 0.5em;
  margin: 0.25em -0.75em;
  background-color: rgba(0,0,0,0.3);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border-radius: 0.5em;
  border-style:solid;
  border-color: rgba(0,0,0,0);
  color: white;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.answer-btn:hover {
  background-color: rgb(100,150,250);
}



.answer-btn.correct {
  background-color: green;
}

.answer-btn.wrong {
  background-color: rgba(0,0,0,0.3);
}

.answer-btn.selected {
  border-color: rgba(255,255,255,0.9);
}

.image-border-idle {
  border: 4px;
  border-style: solid;
  border-color: rgba(0,0,0,0.75);
}

.image-border-correct {
  border: 4px;
  border-style: solid;
  border-color: #00AA00;
}

.image-border-wrong {
  border: 4px;
  border-style: solid;
  border-color: #AA0000;
}

.header {
  background-color: rgba(0,0,0,0.5);
  height: 5.5em;
  color: white;
}

.header-pad {
  padding: 0.6em 0em 0em 0em;
}

.footer {
  padding: 0.25em 0em 2em 0em;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}

@media screen and (min-width: 480px) {
    .shrunk {
        display: none !important;
    }
}
@media screen and (max-width: 480px) {
    .full {
        display: none !important;
    }
}