<div class="container-fluid quizBody {{bgClass}}">
	<div class="quiz-area" ng-show="inProgress">
		<div ng-show="!quizOver">

			<div class="row-fluid">
				<div class="header">
					<div class="full">
						<div class="col-xs-3 header-pad">
							<h3 id="question">Q{{id + 1}} of 5</h3>
						</div>
						<div class="col-xs-6 tester">
							<h1>Cat App</h1>
						</div>
						<div class="col-xs-3 header-pad">
							<h3 id="score">Score: {{score}}</h3>
						</div>
					</div>
					<div class="shrunk">
						<div class="col-xs-6 header-pad">
							<h3 id="question">Q{{id + 1}} of 5</h3>
						</div>
						<div class="col-xs-6 header-pad">
							<h3 id="score">Score: {{score}}</h3>
						</div>
					</div>
					
		 		</div>
			</div>

			<div class ="row-fluid">
				<div class="col-md-12">
					<img class= "placeholder {{imageBorder}}" src="{{image}}" width="480" height="270">
				</div>
			</div>

			<div class ="row-fluid">
				<div class="col-md-12 question">
					<h2 class="question">{{question}}</h2>
				</div>
			</div>

			<div class ="row-fluid">
				<div id="options">
					<div class ="row-fluid">
						<div class="col-sm-6">
							<div class="answer-btn {{btn[0]}}" name="answer" value="{{options[0]}}" ng-click="checkAnswer(options[0])">
								{{options[0]}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="answer-btn {{btn[1]}}" name="answer" value="{{options[1]}}" ng-click="checkAnswer(options[1])">
								{{options[1]}}
							</div>
						</div>
					</div>
					<div class ="row-fluid">
						<div class="col-sm-6">
							<div class="answer-btn {{btn[2]}}" name="answer" value="{{options[2]}}" ng-click="checkAnswer(options[2])">
								{{options[2]}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="answer-btn {{btn[3]}}" name="answer" value="{{options[3]}}" ng-click="checkAnswer(options[3])">
								{{options[3]}}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class ="row-fluid">
				<div class="col-xs-3 footer">
				</div>
				<div class="col-xs-6 footer" "cmn-t-underline">
					<div class="{{nextQuestion}}" "cmn-t-underline" ng-click="swapQuestion()">
						<h2>Next Question >>></h2>
					</div>
				</div>
				<div class="col-xs-3 footer">
				</div>
			</div>
		</div>

		<div ng-show="quizOver">
			<h2>Quiz is over</h2>
			<div id="score">
				Score: {{score}}
			</div>
			<button ng-click="reset()">Play again</button>
		</div>


	</div>

	<div class="intro" ng-show="!inProgress">
		<h1>Cat App</h1>
		<p>Welcome to the QuizApp</p>
		<button id="startQuiz" ng-click="start()">Start the Quiz</button>
	</div>
</div>
