<div class="{{bgClass}}">
	<div class="quiz-area" ng-show="inProgress">
		<div ng-show="!quizOver">
			<div class="row-fluid">
				<div class="span12">
					<h2 id="question">{{question}}</h2>
				</div>
			</div>

		
			<div class ="row-fluid">
				<div class="span12">
					<img src="img/kitten.jpg" width="600" height="480" alt="A large fluffly black and white kitten that looks very sad at the world while the world around is it blurry">
				</div>
			</div>
			
			<div id="options">
				<div class="span6" ng-repeat="option in options">
					<div name="answer" value="{{option}}" ng-click="checkAnswer(option)">{{option}}</div>

				</div>
			</div>

			<button class="{{nextQuestion}}" ng-click="swapQuestion()">Next Question!</button>

		</div>

		<div ng-show="quizOver">
			<h2>Quiz is over</h2>
			<button ng-click="reset()">Play again</button>
		</div>

		<div id="score">
			Score: {{score}}
		</div>
	</div>

	<div class="intro" ng-show="!inProgress">
		<p>Welcome to the QuizApp</p>
		<button id="startQuiz" ng-click="start()">Start the Quiz</button>
	</div>
<div class="{{bgClass}}">
